<p-table [value]="product">
    <ng-template pTemplate="header">
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Data Criação</th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><img src="{{product.medias}}" class="img_prod"></td>
            <td>{{product.name_pro}}</td>
            <td>{{product.price_sale_det | currency: 'BRL'}}</td>
            <td>{{product.name_category}}</td>
            <td>{{product.created_at | date:'dd/MM/yyyy' }}</td>
            <td><ng-template [ngIf]="product.status =='A'"><i class="pi pi-circle-on" style="color: green;"></i></ng-template></td>
            <td><button pButton type="button" label="Detalhes" [routerLink]="['/detail', product.id]"  routerLinkActive="active"></button></td>

        </tr>
    </ng-template>
  </p-table>