table{
    padding: 1em;
    width: 100%;
}
 td, th{
    width: 50%;
    height: 3em;
    border: 1px solid #c9c7c7;
    padding: 0.8em;
}

table .title{
    background-color: #616161;
    color: white;
}
