<table>
    <tr>
        <th colspan="2" class="title">Detalhes do produto "{{item.name_pro}}"</th>
    </tr>
        <tr>
            <th>SKU</th>
            <td>{{item.sku_pro}}</td>           
            
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{item.name_pro}}</td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td>{{item.category}}</td>
        </tr>
        <tr>
            <th>Marca</th>
            <td>{{item.brand}}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{item.description_pro}}</td>
        </tr>

  </table>
  
 